[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = https://github.com/yuki-97/Megatron-Bridge.git
	branch = yukih/nemorl-0.7
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = main
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://github.com/NVIDIA-NeMo/Gym.git
	branch = main
	shallow = true
